.card {
  /* background-color: rgba(10, 10, 10, 0.6); */
  background-color: rgba(10, 10, 10, 0.6);
  padding: 30px;
  margin: 10px;
  height: 100px;
  transition: background-color 0.5s ease-in;
}

.card:hover {
  height: 100px;
  background-color: rgba(64, 87, 109, 0.6);
  -webkit-animation: card 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: card 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes card {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@keyframes card {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.card-bigger {
  background-color: rgba(10, 10, 10, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: 10px;
  height: 125px;
  transition: background-color 0.5s ease-in;
}

.card-bigger:hover {
  background-color: rgba(64, 87, 109, 0.6);
  padding: 20px;
  margin: 10px;
  /* height: 100px; */
  -webkit-animation: card-bigger 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: card-bigger 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes card-bigger {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  100% {
    -webkit-transform: scaleY(1.15);
    transform: scaleY(1.15);
  }
}

@keyframes card-bigger {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  100% {
    -webkit-transform: scaleY(1.15);
    transform: scaleY(1.15);
  }
}

/* @-webkit-keyframes card-bigger {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

@keyframes card-bigger {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
} */

.nav {
  /* background-color: rgba(0, 0, 0, 0.75); */
  transition: 1s background-color;
}

.nav:hover {
  background-color: rgb(64, 87, 109);
}

/* these dont work and i want them to */
.nav:active {
  background-color: rgb(38, 51, 65) !important;
}

.a::selection {
  background-color: rgb(38, 51, 65) !important;
}

/* these dont work and i want them to ^^ */

.resume {
  transition: 0.5s background-color;
  padding: 10px;
}

.resume:hover {
  background-color: rgb(64, 87, 109);
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(255, 255, 255) !important;
}

a:hover {
  color: rgb(255, 255, 255) !important;
}

/* Focus-In  */

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-contract-faster {
  -webkit-animation: focus-in-contract-faster .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract-faster .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-faster {
  0% {
    letter-spacing: 2em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-contract-faster {
  0% {
    letter-spacing: 2em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 2em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 2em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 2.5em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 2.5em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}